.markdown {
  @apply text-lg leading-relaxed px-0;
}

.markdown p,
.markdown ul,
.markdown ol,
.markdown blockquote {
  @apply my-6;
}

.markdown blockquote p {
  @apply p-3 rounded;
  background-color: hsl(var(--popover));
  color: hsl(var(--popover-foreground));
}

.markdown code {
  @apply px-[0.1em] py-[0.1em] rounded;
  background-color: hsl(var(--card));
  color: hsl(var(--card-foreground));
}

.markdown ul {
  list-style-type: disc;
  @apply mx-7;
}

.markdown ol {
  list-style-type: number;
  @apply mx-7;
}

.markdown ol li::marker {
  color: hsl(var(--destructive));
}

.markdown ul li::marker {
  color: hsl(var(--accent));
}

.markdown a {
  color: hsl(var(--destructive));
  &:hover {
    color: hsl(var(--primary));
  }
}

.markdown h1 {
  @apply text-4xl mt-12 mb-4 leading-snug;
  color: hsl(var(--muted-foreground));
}

.markdown h2 {
  @apply text-3xl mt-12 mb-4 leading-snug;
  color: hsl(var(--muted-foreground));
}

.markdown h3 {
  @apply text-2xl mt-8 mb-4 leading-snug;
  color: hsl(var(--primary-foreground));
}

.markdown h4 {
  @apply text-xl mt-8 mb-4 leading-snug;
  color: hsl(var(--muted-foreground));
}

.markdown hr {
  @apply border-dashed;
  border-color: hsl(var(--destructive));
}
