@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 43 92% 88%; /* Soft Cream Background */
    --foreground: 28 15% 20%; /* Nearly Black Foreground */

    --card: 43 92% 88%; /* Same as background for cards */
    --card-foreground: 28 15% 20%; /* Card text color */

    --popover: 43 92% 88%;
    --popover-foreground: 28 15% 20%;

    --primary: 14 80% 50%; /* Softer Muted Orange/red */
    --primary-foreground: 43 92% 88%;

    --secondary: 193 75% 40%;
    --secondary-foreground: 28 15% 20%;

    --muted: 43 65% 70%;
    --muted-foreground: 28 15% 20%;

    --accent: 43 65% 40%; /* Soft Olive/Green */
    --accent-foreground: 43 92% 88%;

    --destructive: 14 80% 45%; /* Muted red, less harsh */
    --destructive-foreground: 43 92% 88%;

    --border: 40 20% 75%;
    --input: 40 20% 75%;
    --ring: 40 20% 40%;
  }

  .dark {
    --background: 28 12% 15%;
    --foreground: 46 48% 90%;

    --card: 28 12% 15%;
    --card-foreground: 46 48% 90%;

    --popover: 28 12% 15%;
    --popover-foreground: 46 48% 90%;

    --primary: 14 65% 65%;
    --primary-foreground: 28 12% 15%;

    --secondary: 187 20% 55%;
    --secondary-foreground: 46 48% 90%;

    --muted: 29 10% 50%;
    --muted-foreground: 46 48% 90%;

    --accent: 43 65% 60%;
    --accent-foreground: 46 48% 90%;

    --destructive: 14 70% 55%;
    --destructive-foreground: 46 48% 90%;

    --border: 40 20% 75%;
    --input: 40 20% 75%;
    --ring: 40 20% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-in-out;
  }
}

.hljs {
  padding: 0.2em 0.8em !important;
  @apply block overflow-x-auto;
}
.hljs,
.hljs-subst {
  @apply text-stone-300;
}
.hljs-comment {
  @apply text-emerald-400;
}
.hljs-keyword {
  @apply text-red-400;
}
.hljs-attr {
  @apply text-yellow-600;
}
.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
  font-weight: bold @apply text-red-400;
}
.hljs-name {
  @apply text-teal-400;
}
.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  @apply text-red-300;
}
.hljs-title,
.hljs-section {
  @apply text-indigo-400;
  font-weight: bold;
}
.function_ {
  @apply text-green-600;
}
.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
  @apply text-sky-300;
}
.hljs-literal {
  color: #78a960;
}
.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
  @apply text-blue-300;
}
.hljs-meta {
  @apply text-emerald-300;
}
.hljs-meta-string {
  color: #4d99bf;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}

.truncate-lines {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  text-overflow: ellipsis;
}
